.headerWrapper{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: lightblue;
    min-height: 60px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1240px;
    margin: 0 auto;
}